name: Close empty issues and templates
on:
  issues:
    types:
      - reopened
      - opened
      - edited

permissions:
  actions: read
  checks: read
  contents: read
  deployments: read
  issues: write
  discussions: read
  packages: read
  pages: read
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  closeEmptyIssuesAndTemplates:
    if: github.repository == 'anuraghazra/github-readme-stats'
    name: Close empty issues
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3 # NOTE: Retrieve issue templates.

      - name: Run empty issues closer action
        uses: rickstaa/empty-issues-closer-action@773bc3171b488f30f89cb17bb86d8fd85bcecf0c # v1.1.0
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        with:
          close_comment:
            Closing this issue because it appears to be empty. Please update the
            issue for it to be reopened.
          open_comment:
            Reopening this issue because the author provided more information.
          check_templates: true
          template_close_comment:
            Closing this issue since the issue template was not filled in.
            Please provide us with more information to have this issue reopened.
          template_open_comment:
            Reopening this issue because the author provided more information.
